.ds-ct-card-car-container {
    width: 100%;
    max-width: 746px;
    border: 1px solid var(--ds-ct-color-border);
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 5px;
}

.ds-ct-card-car-container img {
    width: 100%;
    max-width: 391px;
}

.ds-ct-card-car-container p {
    padding: 5px;
}

.ds-ct-card-car-container {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--ds-ct-color-font-secondary);
}